services:
  nginx:
    image: nginx:alpine
    container_name: "${NGINX_CONTAINER_NAME}"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - app
  app:
    container_name: "${APP_CONTAINER_NAME}"
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - mongo
    env_file:
      - .env

  mongo:
    container_name: "${MONGO_DATABASE}"
    image: mongo:8.2.4
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db

  # if using progress, set DATABASE_DRIVER to postgres, run npx payload migrations:create and then add the migrations for the POSTGRESQL.
  # It will only run after you feed the migrations to the docker container via payload.config.ts
  postgres:
    image: postgres:16-alpine
    container_name: "${POSTGRES_DB}"
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 20
    restart: unless-stopped

volumes:
  postgres-data:
  mongo-data:
